
/* * {
    /* outline: solid red 1px; */


body {
    background-color: rgb(204, 191, 140);
}

nav {
    border-bottom: solid purple 1px;
    margin-top: 5px;
}
nav div {
    flex-direction: row;
}

#fileView {
    margin: 25px;
    height: 100;
}
#fileView .container .row {
    max-width: 100%;
    min-width: 100%;
    padding: 2%;
    margin: 2%;
    outline: solid rgb(152, 100, 10) 2px;
    border-radius: 5px;
    flex-direction: row;
}
#fileView .container .row div:first-child {
    border-right: solid rgb(188, 131, 24) 2px;
}


#footer {
    display: flex;
    border-top: solid blue 1px;
    padding-top: 10px;
    justify-content: center;
}
#footer #waterMark {
    bottom: 0%;
    position:relative;
    margin: 5px;
    padding: 5px;
}
#footerLinks span {
    border-right: solid black 1px;
    padding: 1px 5px;
}
#footerLinks span:last-child {
    border-right: 0px;
}