* {
    /* outline: solid red 1px; */
}

html {
    height: 100%;
}

/* body */
body {
    background-color: rgb(204, 191, 140);
}

/* Navbar */
nav {
    border-bottom: solid purple 1px;
    margin-top: 5px;
    
    & div {
        flex-direction: row;
    }
}
input.navbar-text {
    padding: 5px 10px;
    margin-right: 10px;
    border: none;
    background-color: rgb(204, 191, 140);
    
}
input.navbar-text:hover {
    background-color: rgba(28, 3, 255, 0.233);
    padding: 4px 9px;
    border: solid gray 1px;
    color: white;
    border-radius: 10px;
}

#mainPage {
    height: 100%;
}

#addTotalContainer {
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
}

#addClanMember {
    outline: solid rgb(152, 100, 10) 2px;
    border-radius: 5px;
    width: 200px;
}

#addClanMemberBtn {
    display: flex;
    border: none;
    background-color: rgba(204, 191, 140, 0);
    padding: 5px;
    width: 100%;
    justify-content: center;
}
#addClanMemberBtn:hover {
    background-color: rgb(184, 172, 128);
}

#totalMemb span {
    font-weight: 400;
}

#addMemberBtn {
    display: inline;
    background-color: green;
    color: white;
    height: 24px;
    width: 24px;
    font-size: 24px;
    line-height: 19px;
    border-radius: 10px;
    margin-right: 8px;
    vertical-align: middle;
}

#addMemberBtn::before {
    content: "+";

}

.plus {
    display: inline-block;
    text-align: center;
    background-color: green;
    border: 1px solid white;
    color: white;
    height: 24px;
    width: 24px;
    font-size: 24px;
    line-height: 19px;
    border-radius: 10px;
    margin-right: 8px;
    vertical-align: middle;
}

.plus:hover {
    background-color: darkgreen;
}

.delete {
    display: inline-block;
    text-align: center;
    background-color: red;
    color: white;
    border: 1px solid white;
    height: 24px;
    width: 24px;
    font-size: 24px;
    line-height: 16px;
    border-radius: 10px;
    vertical-align: middle;
}

.delete:hover {
    background-color: darkred;
}


#playerList {
    padding: 50px;
}

.playerBtnContainer {
    display: flex;
    align-items: center;
}

.clanMember {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border: solid rgb(152, 100, 10) 2px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.playerBarSkill {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    border: solid rgb(152, 100, 10) 2px;
    border-radius: 5px;
    margin-bottom: 10px;
}



.accordion {
    background-color: rgb(204, 191, 140);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on 
        (add the .active class with JS), and when you move the mouse over it 
        (hover) */
.active, .accordion:hover {
    background-color: rgb(184, 172, 128);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: rgb(184, 172, 128);
    display: none;
    overflow: hidden;
}
