* {
    /* outline: solid red 1px; */
}

/* body */
body {
    background-color: rgb(204, 191, 140);
}

/* Navbar */
nav {
    border-bottom: solid purple 1px;
    margin-top: 5px;
    
    & div {
        flex-direction: row;
    }
}
input.navbar-text {
    padding: 5px 10px;
    margin-right: 10px;
    border: none;
    background-color: rgb(204, 191, 140);
    
}
input.navbar-text:hover {
    background-color: rgba(28, 3, 255, 0.233);
    padding: 4px 9px;
    border: solid gray 1px;
    color: white;
    border-radius: 10px;
}

#mainPage {

}





#addClanMember {
    justify-content: center;
    outline: solid rgb(152, 100, 10) 2px;
    border-radius: 5px;
    width: 200px;
    margin-top: 25px;
}

#addClanMemberBtn {
    display: flex;
    border: none;
    background-color: rgba(204, 191, 140, 0);
    padding: 5px;
    width: 100%;
    justify-content: center;
}
#addClanMemberBtn:hover {
    background-color: rgb(184, 172, 128);
}

.plus {
    display: inline;
    background-color: green;
    color: white;
    height: 24px;
    width: 24px;
    font-size: 24px;
    line-height: 19px;
    border-radius: 10px;
    margin-right: 8px;
    vertical-align: middle;
}

.plus::before {
    content: "+";

}